.Rhistory
.RData
.Rproj.user
*/*
indicadores_incompletos.R
05-explore.R
14-retorno_ins.R
99-test_area.R
47_perdidos.R
09-validation_lab.R
12-issue_reprex.R
*.Rhistory
00-dictionary.R
02-export_to_notification.R
03-eess_location.R
04-ins_listas.R
08-uncertainty_prev.R
10-prevalence_functions.R
covid_serological_sampling.R